.tcu-alert-icon {
	margin: 0 auto $space-m;
	text-align: center;

	@include media($medium-screen) {
		text-align: left;
	}

	svg {
		@include media($medium-screen) {
			float: left;
			margin-bottom: 0;
			margin-right: $space-m;
			margin-top: 0;
		}
	}
}
