.tcu-overlay-defaults {
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transform: scale(0, 0);
	transition: all 0.4s ease-out 0.3s;
	width: 100%;
	z-index: 0;
}

.tcu-overlay {
	background: rgba(0, 0, 0, 0.5);
}

.tcu-overlay--purple {
	background-color: rgba(77, 25, 121, 0.4);
}

.tcu-zindex-2 {
	z-index: 2;
}

.tcu-background-defaults {
	background-color: $black;
	background-size: cover !important;
	color: $white;
	font-size: 20px;
	min-height: 500px;
	padding: $space-l;
	position: relative;
}

.tcu-background--skew-purple {
	background-color: rgba(77, 25, 121, 0.6);
	height: 75%;
	overflow: hidden;
	position: absolute;
	top: 0;
	transform: skewY(-4deg);
	transform-origin: 0;
	width: 100%;
}

// Background Angles for Six Block Section
.tcu-background--angles {
	background: url('../images/svg/angles_slice.svg') center center no-repeat;
	background-size: cover;
	height: 254px;
	width: 100%;
}

.tcu-background--triangles {
	background: $purple url('../images/svg/triangles_slice.svg') bottom center no-repeat;
}

// Background angles for inforgraphic section
.tcu-infographics--tangles {
	background-image: url('../images/svg/top-infographic-angles.svg');
	background-position: top center;
	background-size: cover;
	display: block;
	height: 212px;
	position: relative;
	top: -2px;
	width: 100%;
}

.tcu-infographics--bangles {
	background-image: url('../images/svg/infographic-bottom.svg');
	background-position: bottom center;
	background-size: cover;
	bottom: -2px;
	display: block;
	height: 81px;
	position: relative;
	width: 100%;
}

.tcu-background--dots {
	background: url('../images/subtle_dots.png') center center repeat;
	padding: $space-l $space-m;
}

/* Background image for mobile
 * Full width video section
 */
.tcu-background-video-default {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

// High Contrast - IE
@media screen and (-ms-high-contrast: active) {
	.tcu-background-defaults {
		border-bottom: 1px solid buttonText;
		border-right: 1px solid buttonText;
	}

	.tcu-infographics--bangles,
	.tcu-infographics--tangles {
		display: none;
	}

	.tcu-background-infographics,
	.tcu-background--dots,
	.tcu-background-video-default,
	.tcu-layoutwrap--purple {
		border-bottom: 1px solid buttonText;
	}
}
