.tcu-banner {
	font-size: 40px;

	@include media($medium-screen) {
		font-size: 60px;
	}

	@include media($large-screen) {
		font-size: 70px;
	}
}

.tcu-expandablebanner-background {
	flex-flow: column nowrap;

	@include media($large-screen) {
		flex-flow: row wrap;
	}
}

.tcu-expand-banner-child {
	margin: $space-xs;
	padding: $space-xs;

	a {
		color: $white;

		&:hover {
			color: $secondary-yellow;
		}
	}

	@include media($large-screen) {
		flex-basis: 16%;
		height: 150px;
		padding: $space-s;
		width: 150px;
	}
}

// High Contrast - IE
@media screen and (-ms-high-contrast: active) {
	.tcu-expand-banner-child {
		border: 1px solid buttonText;
	}
}
