.tcu-button--transparent {
	background-color: transparent;
	border: 1px solid $white;
	color: $white;
	font-size: 1.375rem;

	&:hover,
	&:focus {
		color: $purple;
	}
}

%tcu-bounce {
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: scaleX(0);
	transition-duration: 0.5s;
	transition-property: transform;
	transition-timing-function: ease-out;
	z-index: -1;
}

%tcu-bounce--right {
	@extend %tcu-bounce;
	transform-origin: 0 50%;
}

.tcu-bounce--right--yellow {
	&::before {
		@extend %tcu-bounce--right;
		background: $secondary-yellow;
	}

	&:hover {
		color: $purple;
	}

	svg {
		&:hover,
		&:focus {
			fill: $purple;
		}
	}
}

.tcu-bounce--right--yellow {
	&:hover::before,
	&:focus::before {
		transform: scaleX(1);
		transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	}
}

.tcu-button-icon {
	fill: $white;
	height: 30px;
	vertical-align: top;
	width: 30px;
}

// Button with an image in the background
.tcu-button--image {
	position: relative;

	.tcu-button {
		position: relative;

		&:hover,
		&:focus {
			background-color: $dark-grey;
			color: $white;
		}
	}

	// Overlay effect
	&:hover {
		.tcu-overlay--purple {
			opacity: 1;
			transform: scale(1, 1);
		}
	}
}

// Square
a.tcu-button--square {
	color: $black;
	height: 100px;
	@include media($medium-screen) {
		height: 200px;
	}

	&:focus {
		border: 1px dotted $white;
	}
}

.tcu-button--square--blue {
	background-color: $secondary-blue;

	&:hover {
		background-color: darken($secondary-blue, 15%);
		color: $white;
	}
}

.tcu-button--square--tan {
	background-color: $secondary-tan;

	&:hover,
	&:focus {
		background-color: darken($secondary-tan, 10%);
	}
}

// High Contrast - IE
@media screen and (-ms-high-contrast: active) {
	.tcu-button--square,
	.tcu-button--image {
		border: 1px solid buttonText;
	}
}
