.tcu-hero {
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1800px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;

	svg {
		bottom: -2px;
		height: 10vw;
		position: absolute;
		width: 100%;
	}

	.tcu-hero__content {
		bottom: 0;
		color: $white;
		height: 50%;
		left: 0;
		margin: auto;
		padding: $space-l;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;

		@include media($large-screen) {
			padding-left: 25%;
			padding-right: 25%;
		}

		h2 {
			font-size: 20px;

			@include media($medium-screen) {
				display: block;
				font-size: 40px;
			}
		}

		p {
			font-size: 14px;

			@include media($medium-screen) {
				font-size: 18px;
			}
		}
	}
}

// High Contrast - IE
@media screen and (-ms-high-contrast: active) {
	.tcu-hero {
		border-bottom: 1px solid buttonText;
	}
}
