.tcu-infographics {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	// Top and bottom padding contain magic
	// numbers becuse we want to center the infographics
	// within the image after the SVGs stop.
	padding: 140px $space-xl 90px;

	@include media($medium-screen) {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
	}

	@include media($large-screen) {
		height: 600px;
	}

	.tcu-graphics {
		margin: $space-l $space-m;
		text-align: center;

		img {
			margin: auto;
			max-width: 250px;
		}
	}
}
