// No constrains containers
// Meaning that they can be used as full-width backgrounds
// Using these classes will guarantee that you have enough
// padding in mobile versions

%tcu-layoutwrap {
	@include margin(0 null);
	width: 100%;
}

.tcu-layout--large {
	max-width: 1800px;
}

.tcu-layoutwrap--aqua {
	@extend %tcu-layoutwrap;
	background-color: $secondary-aqua;
	color: $black;
	padding: $space-m;
}

.tcu-layoutwrap--yellow {
	@extend %tcu-layoutwrap;
	background-color: $secondary-yellow;
	padding: $space-m;
}

// High Contrast - IE
@media screen and (-ms-high-contrast: active) {
	.tcu-layoutwrap--aqua,
	.tcu-layoutwrap--transparent {
		border-bottom: 1px solid buttonText;
	}
}
