.tcu-masonry-home {
	.tcu-modal {
		margin-bottom: 16px;

		@include media($medium-screen) {
			margin-left: 8px;
			max-width: 350px;
		}

		&:last-child {
			@include media($medium-screen) {
				margin-bottom: 0;
			}
		}
	}
}

// Effect 2: Move Up
.tcu-masonry-home.effect-2 article.animate {
	animation: moveUp 0.65s ease forwards;
	transform: translateY(200px);
}

@keyframes moveUp {
	0% {
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

// No js
html.no-js {
	.tcu-masonry-home {
		@include media($small-screen) {
			column-count: 2;
		}

		@include media($large-screen) {
			column-count: 3;
		}

		.tcu-modal {
			break-inside: avoid;
			margin-bottom: 16px;
			width: 100%;

			@include media($medium-screen) {
				margin-left: 8px;
				max-width: 350px;
			}
		}
	}
}

.tcu-modal--alert {
	padding-top: $space-xl;
	position: relative;

	.tcu-close {
		background-color: $white;
		border: 0;
		border-radius: 50%;
		color: $purple;
		cursor: pointer;
		font-size: $h2-font-size;
		height: 60px;
		line-height: 1.5;
		padding: $space-xs;
		position: absolute;
		right: $space-s;
		top: $space-s;
		width: 60px;

		&:hover,
		&:focus {
			background-color: $purple;
			color: $white;
		}
	}
}
