.tcu-video {
	margin-left: auto;
	margin-right: auto;
	max-width: 1800px;
	overflow: hidden;
	position: relative;
	text-align: center;

	svg {
		bottom: -2px;
		height: 10vw;
		position: absolute;
		width: 100%;
	}

	.tcu-video-container {
		height: 0;
		overflow: hidden;
		padding-bottom: 56.25%;
		position: relative;

		video,
		iframe,
		object {
			height: 100%;
			left: 0;
			pointer-events: none;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

	.tcu-hero__content {
		bottom: 0;
		color: $white;
		display: block;
		height: 50%;
		left: 0;
		margin: auto;
		padding: $space-l;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 2;

		@include media($large-screen) {
			padding-left: 25%;
			padding-right: 25%;
		}

		h2 {
			display: block;
			font-size: $h3-font-size;
			margin-bottom: $space-xs;

			@include media($medium-screen) {
				font-size: 40px;
			}

			@include media($xl-screen) {
				font-size: 50px;
			}
		}

		p {
			font-size: $base-font-size;
			margin-bottom: 0;
			margin-top: 0;

			@include media($xl-screen) {
				font-size: 24px;
			}
		}
	}
}

@media (min-aspect-ratio: 16/9) {
	.tcu-video-container {
		height: 300%;
		top: -100%;
	}
}
@media (max-aspect-ratio: 16/9) {
	.tcu-video-container {
		left: -100%;
		width: 300%;
	}
}
