.ACFRSSWidget {
	height: auto !important;
	list-style-type: none;
	overflow-y: hidden;
	padding-left: $space-l !important;

	li {
		a {
			font-size: $font-small !important;
			text-transform: initial !important;
		}

		h3 {
			margin: 0;
		}
	}
}
