@charset "UTF-8";
.tcu-layoutwrap--aqua, .tcu-layoutwrap--yellow {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.tcu-layout--large {
  max-width: 1800px;
}

.tcu-layoutwrap--aqua {
  background-color: #95DACF;
  color: #111;
  padding: 16px;
}

.tcu-layoutwrap--yellow {
  background-color: #F9D44B;
  padding: 16px;
}

@media screen and (-ms-high-contrast: active) {
  .tcu-layoutwrap--aqua,
  .tcu-layoutwrap--transparent {
    border-bottom: 1px solid buttonText;
  }
}
.tcu-not-mobile {
  display: none;
}
@media screen and (min-width: 43.75em) {
  .tcu-not-mobile {
    display: block;
  }
}

.tcu-overflow-hidden {
  overflow: hidden;
}

html.no-js .tcu-pulse {
  display: none;
}

.tcu-font-bold {
  font-weight: 700;
}

.tcu-absolute-btm-left {
  bottom: 32px;
  left: 32px;
  position: absolute;
}

.tcu-position--relative {
  position: relative;
}

.tcu-pulse {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: pulse;
          animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0.7;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0.7;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.7;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0.7;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
.tcu-arrow {
  background: transparent;
  border: none;
  height: 100%;
  padding: 0;
  width: 50px;
}
.tcu-arrow:focus {
  outline: 1px dotted #111;
}
.tcu-arrow svg {
  pointer-events: none;
}

@media screen and (-ms-high-contrast: active) {
  .tcu-arrow svg {
    fill: buttonText;
  }
}
.tcu-arrow-down {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.0.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%22-77%2010%2020%2011%22%20enable-background%3D%22new%20-77%2010%2020%2011%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20id%3D%22Expand_More%22%20fill%3D%22%23111111%22%20d%3D%22M-58.7%2C10.3l-8.3%2C8.3l-8.3-8.3c-0.4-0.4-1-0.4-1.4%2C0c-0.4%2C0.4-0.4%2C1%2C0%2C1.4l9%2C9l0%2C0l0%2C0%0D%0A%09c0.4%2C0.4%2C1%2C0.4%2C1.4%2C0l9-9c0.4-0.4%2C0.4-1%2C0-1.4C-57.7%2C9.9-58.3%2C9.9-58.7%2C10.3z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
  background-color: transparent;
  background-size: 50px 60px;
  border: none;
  height: 50px;
  width: 50px;
}

.tcu-arrow-up {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.0.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%22-77%2010%2020%2011%22%20enable-background%3D%22new%20-77%2010%2020%2011%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20id%3D%22Expand_Less%22%20fill%3D%22%23111111%22%20d%3D%22M-66.3%2C10.3c-0.4-0.4-1-0.4-1.4%2C0l-9%2C9c-0.4%2C0.4-0.4%2C1%2C0%2C1.4c0.4%2C0.4%2C1%2C0.4%2C1.4%2C0l8.3-8.3%0D%0A%09l8.3%2C8.3c0.4%2C0.4%2C1%2C0.4%2C1.4%2C0c0.4-0.4%2C0.4-1%2C0-1.4L-66.3%2C10.3z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
  background-color: transparent;
  background-size: 50px 60px;
  border: none;
  height: 50px;
  width: 50px;
}

.tcu-arrow-down:focus,
.tcu-arrow-up:focus {
  outline: 1px dotted #111;
}

.tcu-flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tcu-flex-inline {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.tcu-flexbox--column-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.tcu-flexbox--column-nowrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.tcu-flexbox--row-nowrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.tcu-flexbox--row-wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.tcu-flexbox--vertical-align {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tcu-flexbox--align-items {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.tcu-flexbox--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tcu-flexbox--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tcu-flex-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tcu-flex-space-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.tcu-flex-start {
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

@media screen and (min-width: 43.75em) {
  .tcu-table .tcu-not-mobile {
    display: table-cell;
  }
}

.tcu-button--transparent {
  background-color: transparent;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 1.375rem;
}
.tcu-button--transparent:hover, .tcu-button--transparent:focus {
  color: #4D1979;
}

.tcu-bounce--right--yellow::before {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: -1;
}

.tcu-bounce--right--yellow::before {
  -webkit-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.tcu-bounce--right--yellow::before {
  background: #F9D44B;
}
.tcu-bounce--right--yellow:hover {
  color: #4D1979;
}
.tcu-bounce--right--yellow svg:hover, .tcu-bounce--right--yellow svg:focus {
  fill: #4D1979;
}

.tcu-bounce--right--yellow:hover::before, .tcu-bounce--right--yellow:focus::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
       -o-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
          transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.tcu-button-icon {
  fill: #FFF;
  height: 30px;
  vertical-align: top;
  width: 30px;
}

.tcu-button--image {
  position: relative;
}
.tcu-button--image .tcu-button {
  position: relative;
}
.tcu-button--image .tcu-button:hover, .tcu-button--image .tcu-button:focus {
  background-color: #777;
  color: #FFF;
}
.tcu-button--image:hover .tcu-overlay--purple {
  opacity: 1;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}

a.tcu-button--square {
  color: #111;
  height: 100px;
}
@media screen and (min-width: 43.75em) {
  a.tcu-button--square {
    height: 200px;
  }
}
a.tcu-button--square:focus {
  border: 1px dotted #FFF;
}

.tcu-button--square--blue {
  background-color: #5E88B4;
}
.tcu-button--square--blue:hover {
  background-color: #3f6287;
  color: #FFF;
}

.tcu-button--square--tan {
  background-color: #E2D0A6;
}
.tcu-button--square--tan:hover, .tcu-button--square--tan:focus {
  background-color: #d5bc80;
}

@media screen and (-ms-high-contrast: active) {
  .tcu-button--square,
  .tcu-button--image {
    border: 1px solid buttonText;
  }
}
.tcu-hero {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}
.tcu-hero svg {
  bottom: -2px;
  height: 10vw;
  position: absolute;
  width: 100%;
}
.tcu-hero .tcu-hero__content {
  bottom: 0;
  color: #FFF;
  height: 50%;
  left: 0;
  margin: auto;
  padding: 32px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
@media screen and (min-width: 62.5em) {
  .tcu-hero .tcu-hero__content {
    padding-left: 25%;
    padding-right: 25%;
  }
}
.tcu-hero .tcu-hero__content h2 {
  font-size: 20px;
}
@media screen and (min-width: 43.75em) {
  .tcu-hero .tcu-hero__content h2 {
    display: block;
    font-size: 40px;
  }
}
.tcu-hero .tcu-hero__content p {
  font-size: 14px;
}
@media screen and (min-width: 43.75em) {
  .tcu-hero .tcu-hero__content p {
    font-size: 18px;
  }
}

@media screen and (-ms-high-contrast: active) {
  .tcu-hero {
    border-bottom: 1px solid buttonText;
  }
}
.tcu-overlay-defaults {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: all 0.4s ease-out 0.3s;
  -o-transition: all 0.4s ease-out 0.3s;
  transition: all 0.4s ease-out 0.3s;
  width: 100%;
  z-index: 0;
}

.tcu-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.tcu-overlay--purple {
  background-color: rgba(77, 25, 121, 0.4);
}

.tcu-zindex-2 {
  z-index: 2;
}

.tcu-background-defaults {
  background-color: #111;
  background-size: cover !important;
  color: #FFF;
  font-size: 20px;
  min-height: 500px;
  padding: 32px;
  position: relative;
}

.tcu-background--skew-purple {
  background-color: rgba(77, 25, 121, 0.6);
  height: 75%;
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-transform: skewY(-4deg);
      -ms-transform: skewY(-4deg);
          transform: skewY(-4deg);
  -webkit-transform-origin: 0;
      -ms-transform-origin: 0;
          transform-origin: 0;
  width: 100%;
}

.tcu-background--angles {
  background: url("../images/svg/angles_slice.svg") center center no-repeat;
  background-size: cover;
  height: 254px;
  width: 100%;
}

.tcu-background--triangles {
  background: #4D1979 url("../images/svg/triangles_slice.svg") bottom center no-repeat;
}

.tcu-infographics--tangles {
  background-image: url("../images/svg/top-infographic-angles.svg");
  background-position: top center;
  background-size: cover;
  display: block;
  height: 212px;
  position: relative;
  top: -2px;
  width: 100%;
}

.tcu-infographics--bangles {
  background-image: url("../images/svg/infographic-bottom.svg");
  background-position: bottom center;
  background-size: cover;
  bottom: -2px;
  display: block;
  height: 81px;
  position: relative;
  width: 100%;
}

.tcu-background--dots {
  background: url("../images/subtle_dots.png") center center repeat;
  padding: 32px 16px;
}

/* Background image for mobile
 * Full width video section
 */
.tcu-background-video-default {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (-ms-high-contrast: active) {
  .tcu-background-defaults {
    border-bottom: 1px solid buttonText;
    border-right: 1px solid buttonText;
  }

  .tcu-infographics--bangles,
  .tcu-infographics--tangles {
    display: none;
  }

  .tcu-background-infographics,
  .tcu-background--dots,
  .tcu-background-video-default,
  .tcu-layoutwrap--purple {
    border-bottom: 1px solid buttonText;
  }
}
.tcu-infographics {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 140px 64px 90px;
}
@media screen and (min-width: 43.75em) {
  .tcu-infographics {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
@media screen and (min-width: 62.5em) {
  .tcu-infographics {
    height: 600px;
  }
}
.tcu-infographics .tcu-graphics {
  margin: 32px 16px;
  text-align: center;
}
.tcu-infographics .tcu-graphics img {
  margin: auto;
  max-width: 250px;
}

.tcu-banner {
  font-size: 40px;
}
@media screen and (min-width: 43.75em) {
  .tcu-banner {
    font-size: 60px;
  }
}
@media screen and (min-width: 62.5em) {
  .tcu-banner {
    font-size: 70px;
  }
}

.tcu-expandablebanner-background {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
@media screen and (min-width: 62.5em) {
  .tcu-expandablebanner-background {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.tcu-expand-banner-child {
  margin: 4px;
  padding: 4px;
}
.tcu-expand-banner-child a {
  color: #FFF;
}
.tcu-expand-banner-child a:hover {
  color: #F9D44B;
}
@media screen and (min-width: 62.5em) {
  .tcu-expand-banner-child {
    -webkit-flex-basis: 16%;
        -ms-flex-preferred-size: 16%;
            flex-basis: 16%;
    height: 150px;
    padding: 8px;
    width: 150px;
  }
}

@media screen and (-ms-high-contrast: active) {
  .tcu-expand-banner-child {
    border: 1px solid buttonText;
  }
}
.tcu-video {
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.tcu-video svg {
  bottom: -2px;
  height: 10vw;
  position: absolute;
  width: 100%;
}
.tcu-video .tcu-video-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}
.tcu-video .tcu-video-container video,
.tcu-video .tcu-video-container iframe,
.tcu-video .tcu-video-container object {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.tcu-video .tcu-hero__content {
  bottom: 0;
  color: #FFF;
  display: block;
  height: 50%;
  left: 0;
  margin: auto;
  padding: 32px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
@media screen and (min-width: 62.5em) {
  .tcu-video .tcu-hero__content {
    padding-left: 25%;
    padding-right: 25%;
  }
}
.tcu-video .tcu-hero__content h2 {
  display: block;
  font-size: 1.875rem;
  margin-bottom: 4px;
}
@media screen and (min-width: 43.75em) {
  .tcu-video .tcu-hero__content h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 75em) {
  .tcu-video .tcu-hero__content h2 {
    font-size: 50px;
  }
}
.tcu-video .tcu-hero__content p {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (min-width: 75em) {
  .tcu-video .tcu-hero__content p {
    font-size: 24px;
  }
}

@media (min-aspect-ratio: 16 / 9) {
  .tcu-video-container {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16 / 9) {
  .tcu-video-container {
    left: -100%;
    width: 300%;
  }
}
img.aligncenter {
  display: inline-block;
}

.eventlistside {
  font-size: 18px;
  margin-bottom: 32px;
  margin-left: 16px;
  overflow: hidden;
}
@media screen and (min-width: 43.75em) {
  .eventlistside {
    float: left;
    width: 350px;
  }
}
.eventlistside > div:last-child {
  display: inline-block;
  float: left;
  margin-left: 16px;
  max-width: 150px;
  padding-top: 8px;
}
@media screen and (min-width: 43.75em) {
  .eventlistside > div:last-child {
    max-width: 230px;
  }
}

.entry-date {
  background-color: #4D1979;
  color: #FFF;
  float: left;
  font-family: "Arvo", serif;
  font-size: 25px;
  padding: 8px;
  text-align: center;
  width: 90px;
}

.tcu-frog-fountain-slider {
  max-width: 1800px;
}

@media screen and (-ms-high-contrast: active) {
  .tcu-frog-fountain-slider {
    border-bottom: 1px solid buttonText;
  }
}
.tcu-frog-fountain-slider-body {
  position: relative;
}

.tcu-frog-slider-image {
  height: 250px;
}
@media screen and (min-width: 43.75em) {
  .tcu-frog-slider-image {
    height: 450px;
  }
}
@media screen and (min-width: 62.5em) {
  .tcu-frog-slider-image {
    height: 600px;
  }
}

.tcu-frog-fountain-slider-content {
  padding: 32px 32px 64px;
}
@media screen and (min-width: 62.5em) {
  .tcu-frog-fountain-slider-content {
    height: 600px;
    padding: 32px 32px 32px 32px;
    position: absolute;
    right: 100px;
    top: 0;
    width: 40%;
    z-index: 1;
  }
}

.tcu-frog-fountain-slider-content p {
  font-size: 1.375rem;
}

.slick-prev,
.slick-next {
  background: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 100px;
  line-height: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 5px;
  width: 50px;
}
.slick-prev:focus,
.slick-next:focus {
  outline: #F9D44B 2px solid;
}
@media screen and (min-width: 62.5em) {
  .slick-prev,
  .slick-next {
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}
.slick-prev:hover,
.slick-next:hover {
  background: transparent;
  color: transparent;
  outline: none;
}
.slick-prev:hover::before,
.slick-next:hover::before {
  opacity: 1;
}
.slick-prev.slick-disabled::before,
.slick-next.slick-disabled::before {
  opacity: 0.65;
}
.slick-prev::before,
.slick-next::before {
  color: #FFF;
  display: inline-block;
  font-family: "Cabin";
  font-size: 100px;
  line-height: 0;
  margin-top: 15px;
  opacity: 0.95;
}

.slick-prev {
  left: 25px;
  z-index: 1;
}
[dir='rtl'] .slick-prev {
  left: auto;
  right: 25px;
  z-index: 1;
}
.slick-prev::before {
  content: "‹";
}
[dir='rtl'] .slick-prev::before {
  content: "›";
}

.slick-next {
  right: 25px;
}
[dir='rtl'] .slick-next {
  left: 25px;
  right: auto;
  z-index: 1;
}
.slick-next::before {
  content: "›";
}
[dir='rtl'] .slick-next::before {
  content: "‹";
}

.slick-dots {
  bottom: 10px;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.slick-dots li {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  position: relative;
  width: 20px;
}
.slick-dots li button {
  background: transparent;
  border: 0;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  outline: none;
  padding: 5px;
  width: 20px;
}
.slick-dots li button:hover {
  outline: none;
}
.slick-dots li button:hover::before {
  opacity: 1;
}
.slick-dots li button:focus {
  outline: #F9D44B 1px solid;
}
.slick-dots li button::before {
  color: #F9D44B;
  content: "•";
  font-family: "Cabin";
  font-size: 35px;
  height: 20px;
  left: 0;
  line-height: 20px;
  opacity: 0.65;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}
.slick-dots li.slick-active button::before {
  color: #F9D44B;
  opacity: 0.95;
}

.slick-slider {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: relative;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.slick-slider .slick-list {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.slick-slider .slick-list:focus {
  outline: none;
}
.slick-slider .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  display: block;
  left: 0;
  position: relative;
  top: 0;
}
.slick-track::before, .slick-track::after {
  content: '';
  display: table;
}
.slick-track::after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  background-size: cover;
  display: none;
  float: left;
  height: 100%;
  width: 100%;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  border: 1px solid transparent;
  display: block;
  height: auto;
}

.slick-arrow.slick-hidden {
  display: none;
}

.tcu-leadership-profile {
  margin-right: 16px;
  max-width: 200px;
}
.tcu-leadership-profile a {
  font-weight: 700;
}
.tcu-leadership-profile a:hover {
  text-decoration: underline;
}

.tcu-masonry-home .tcu-modal {
  margin-bottom: 16px;
}
@media screen and (min-width: 43.75em) {
  .tcu-masonry-home .tcu-modal {
    margin-left: 8px;
    max-width: 350px;
  }
}
@media screen and (min-width: 43.75em) {
  .tcu-masonry-home .tcu-modal:last-child {
    margin-bottom: 0;
  }
}

.tcu-masonry-home.effect-2 article.animate {
  -webkit-animation: moveUp 0.65s ease forwards;
          animation: moveUp 0.65s ease forwards;
  -webkit-transform: translateY(200px);
      -ms-transform: translateY(200px);
          transform: translateY(200px);
}

@-webkit-keyframes moveUp {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveUp {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@media screen and (min-width: 30.0625em) {
  html.no-js .tcu-masonry-home {
    -webkit-column-count: 2;
            column-count: 2;
  }
}
@media screen and (min-width: 62.5em) {
  html.no-js .tcu-masonry-home {
    -webkit-column-count: 3;
            column-count: 3;
  }
}
html.no-js .tcu-masonry-home .tcu-modal {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  margin-bottom: 16px;
  width: 100%;
}
@media screen and (min-width: 43.75em) {
  html.no-js .tcu-masonry-home .tcu-modal {
    margin-left: 8px;
    max-width: 350px;
  }
}

.tcu-modal--alert {
  padding-top: 64px;
  position: relative;
}
.tcu-modal--alert .tcu-close {
  background-color: #FFF;
  border: 0;
  border-radius: 50%;
  color: #4D1979;
  cursor: pointer;
  font-size: 2.5rem;
  height: 60px;
  line-height: 1.5;
  padding: 4px;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 60px;
}
.tcu-modal--alert .tcu-close:hover, .tcu-modal--alert .tcu-close:focus {
  background-color: #4D1979;
  color: #FFF;
}

.tcu-alert-icon {
  margin: 0 auto 16px;
  text-align: center;
}
@media screen and (min-width: 43.75em) {
  .tcu-alert-icon {
    text-align: left;
  }
}
@media screen and (min-width: 43.75em) {
  .tcu-alert-icon svg {
    float: left;
    margin-bottom: 0;
    margin-right: 16px;
    margin-top: 0;
  }
}

.ACFRSSWidget {
  height: auto !important;
  list-style-type: none;
  overflow-y: hidden;
  padding-left: 32px !important;
}
.ACFRSSWidget li a {
  font-size: 0.6875em !important;
  text-transform: initial !important;
}
.ACFRSSWidget li h3 {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */